.empty-table {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 3rem 1rem;
  background: #f8fafc;
  border-radius: 16px;
  border: 2px dashed #e2e8f0;
  color: #94a3b8;

  svg {
    color: #94a3b8;
    height: 50px;
    width: 50px;
    margin-bottom: 0.5rem;
  }
}
